.ipynb_checkpoints
*.pyc
*.orig
*.pyx
*.pkl
__pycache__
.bash_history
.viminfo
.condarc
.cache
.ipython/profile_default/history.sqlite
.jupyter
.local
build
dist
work.egg-info
work/marvin/binary_classifier_models/*.py
work/marvin/binary_classification_evaluation/*.py
work/marvin/dataPrepareforTraining/*.py
